/*
Handcoded By Chee Yong Lee (https://github.com/joeleeofficial) & (https://github.com/leecheeyong)
This code is available as open source under the terms of the GPL-3.0 (https://github.com/BotStudios/Website/blob/master/LICENSE)
*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #3e3e3e;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #eaeaea;
}

p {
  line-height: 1.5em;
  font-size: 1.5em;
}

a:hover {
  color:#ffd2d2
}

section {
  height: 100vh;
  scroll-snap-align: start;
  margin-bottom: 10vh;
}

nav {
  width: 70%;
  font-size: 22px;
  color: #eaeaea;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px;
  align-items: center;
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
}


.enlarge:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.enlarge {
  transform: scale(1);
  transition: transform .5s linear;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  padding: 25px;
}

nav i {
  padding: 5px;
  padding-right: 25px;
}

.content {
  box-sizing: border-box;
  height: 100%;
  background-position-y: bottom;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.home {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 2.5em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 15em;
  color: white
}

.home > .home-content {
  padding-top: 18%;
}

.home h1{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}

.about {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 3em;
  margin-left: 5em;
  margin-right: 5em;
  color: white;
  margin-bottom: 100em;
}

.about h1{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.highlight::first-letter {
  font-size: 1.2em;
  font-weight: 700;
  color: #ffd2d2;
}

.projects {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 3em;
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
}

.projects .view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}

.projects p, h2 {
  font-size: 1.2em;
  line-height: 1.5em;
}

.projects h2 {
  margin-bottom: 1em;
}

.projects h1 {
  margin-bottom: 1em;
}

.view > .project {
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.493);
  border-radius: 20px;
  margin: 1em;
  padding: 2em;
}

.team {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  color: white
}

.team h1{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  font-size: 0.6em;
  padding-bottom: 1em;
  scroll-snap-align: end;
  color: rgb(110, 110, 110);
}

@media (max-width: 730px) {
  nav {
    max-width: 200px;
    line-height: 1.5em;
  }
}
